.main-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12%;
    color: white;
    background-color: #3a3939;
    position: relative;

    img{
        border-radius: 50%;
        width: 85px;
        cursor: pointer;
    }
     
    .search-bar{
        display: flex;
        width: 36rem;

        input{
            width: 80%;
            height: 42px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            padding: 0px 12px;
            outline: none;
            border: none;
        }

        .submit{
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            width: 20%;
            background-color: #2f64ad;

            button{
                width: 100%;
                height: 100%;
                border: 1px solid #2f64ad;
                background-color: #2f64ad;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                color: white;
                cursor: pointer;
            }
        }
    }

    .account{
        display: flex;
        position: relative;
        gap: 12px;
        color: black;

        .sign-in{
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 8px 14px;
            border-radius: 12px;
            background-color: white;
            cursor: pointer;
        }
        
        .user{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            border-radius: 50%;
            background-color: white;
            position: relative;
            cursor: pointer;

            img{
                border-radius: 50%;
                height: 43px;
                width: 43px;
            }

            .user-options{
                background-color: #FFFFFF;
                border-radius: 10px;
                position: absolute;
                top: 54px;
                width: fit-content;
                padding: 2px 4px;

                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 6px;
                    min-width: 80px;
                    list-style: none;

                    li{

                    }
                }
            }
        }

        .cart{
            display: flex;
            align-items: center;
            position: relative;
            gap: 6px;
            padding: 8px 14px;
            border-radius: 12px;
            background-color: white;
            cursor: pointer;
        }
    }

    .form-sign-in{
        position: fixed;
        z-index: 3;
        top: 25vh;
        left: 38vw;
        right: 38vw;
    }

    .form-sign-up{
        position: fixed;
        z-index: 3;
        top: 11vh;
        left: 38vw;
        right: 38vw;
        width: fit-content;
    }
}