<div class="main-mobiles-container">
    <div class="mobiles-container">
        <div class="card" *ngFor="let product of productList" (click)="goToProductPage(product)">
            <img [src]="product.thumbnail">
            <h5>{{product.title}}</h5>
            <p class="price" [ngClass]="{'line-through' : product.price.discountPercentage}">
                {{product.price.beforeDiscountPrice}}
                <span class="sale-price" *ngIf="product.price.discountPercentage">{{product.price.convertedCurrentPrice}}ლ</span>
            </p>
            <span class="rating">
                {{product.rating | number:'1.0-0'}}
                <i class="fa-solid fa-star"></i>
            </span>
            <div class="cart-box">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Add to cart</span>
            </div>
        </div>
    </div>
</div>
