@import '../../assets/styles/config.scss';

.block{
    display: block !important;
}
        
.product-container{
    display: flex;
    width: 100%;
    padding: 96px 14%;
    gap: 42px;

    .product-img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 700px;
        border: 2px solid $PrimaryBgColor;
        border-radius: 12px;
        padding: 12px;
        position: relative;
        min-width: fit-content;

        .product-img{
            width: min-content;

            img{
                max-width: 680px;
                max-height: 680px;
            }
        }

        #previous, #next{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50px;
            height: 50px;
            border: 1px solid $PrimaryBorderColor;
            background-color: white;
            color: $PrimaryBgColor;
            border-radius: 50%;
            cursor: pointer;
        }

        #previous{
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
        }
        #next{
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .product-info-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: min-content;
        padding: 0px 12px 0px 12px;
        position: relative;

        .product-info{
            display: flex;
            flex-direction: column;
            padding: 6px 12px;
            border: 2px solid $PrimaryBgColor;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
            border-bottom: none;
            gap: 42px;

            .product-title{
                padding: 0px 4px;
                display: block;
                text-align: center;
            }

            .prices{
                display: flex;
                gap: 12px;

                .product-price{
                    display: inline;
                    color: rgb(237, 42, 124);
                }

                .product-before-price{
                    display: inline;
                    color: rgb(145, 145, 145);
                    text-decoration: line-through;
                }

                .discount-percentage{
                    display: inline;
                    color: rgb(237, 42, 124);
                }
            }
            
        }

        .product-details-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            h3{
                text-align: center;
            }
            
            #product-details{
                display: flex;
                flex-direction: column;
                list-style: circle;
                padding: 24px;
                gap: 8px;

                li::marker{
                    color: $PrimaryBgColor;
                }
            }

            .product-description-container{
                display: flex;
                flex-direction: column;
                padding: 2px 4px;
                border: 2px solid $PrimaryBgColor;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                border-top: none;
                gap: 12px;
            }
        }

        .cart-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            position: absolute;
            bottom: -64px;
            left: 25%;
            right: 25%;
            padding: 12px 24px;
            background-color: $PrimaryBgColor;
            border-radius: 12px;
            color: white;

            cursor: pointer;

            i{
                font-size: 24px;
            }
        }
        @media (max-width: 1724px) {
            .cart-container{
                bottom: -92px;
            }
        }
    }
}

.blurred-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.sign-in-form{
    display: none;
    // display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 24vw;
    min-height: 280px;
    top: 25%;
    left: 38%;
    right: 38%;
    gap: 24px;
    padding: 24px 0px;
    background-color: rgb(247, 247, 247);
    border: 1px solid $PrimaryBorderColor;
    border-radius: 18px;

    i{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .input{
        display: flex;
        flex-direction: column;
        gap: 4px;

        label{
            text-align: center;
            font-size: 14px;
        }

        input{
            outline: none;
            border: 1px solid $PrimaryBorderColor;
            background-color: white;
            padding: 0px 6px;
            border-radius: 16px;
        }
    }

    .sign-in-button{
        outline: none;
        border: 1px solid $PrimaryBorderColor;
        border-radius: 8px;
        color: $PrimaryBgColor;
        background-color: white;
        padding: 3px 8px;
        cursor: pointer;
        transition-property: background-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    .sign-in-button:hover{
        background-color: $PrimaryBgColor;
        color: white;
    }

    .next-to-sign-up-button{
        outline: none;
        border: 1px solid $PrimaryBorderColor;
        border-radius: 8px;
        color: $PrimaryBgColor;
        background-color: white;
        padding: 3px 8px;
        cursor: pointer;
        transition-property: background-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    .next-to-sign-up-button:hover{
        background-color: $PrimaryBgColor;
        color: white;
    }
}
.sign-up-form{
    display: none;
    // display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 24vw;
    top: 25%;
    left: 38%;
    right: 38%;
    gap: 12px;
    padding: 24px 0px;
    background-color: rgb(247, 247, 247);
    border: 1px solid $PrimaryBorderColor;
    border-radius: 18px;

    i{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .input{
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;

        label{
            text-align: center;
            font-size: 14px;
        }

        input{
            outline: none;
            border: 1px solid $PrimaryBorderColor;
            background-color: white;
            padding: 0px 6px;
            border-radius: 16px;
        }

        #verify-button{
            display: none;
            position: absolute;
            right: -48px;
            bottom: 0px;
            color: rgb(22, 92, 223);
            cursor: pointer;
        }
    }

    .gender{
        flex-direction: row;
    }

    h3{
        text-align: center;
    }

    #avatar{
        display: none;
    }
    
    p{
        font-size: 12px;
        color: rgb(22, 92, 223);
        cursor: pointer;
    }
}
