<div class="main-sign-in-container">
    <div class="close-button" (click)="authTrigger()">
        <i class="fa-solid fa-xmark" ></i>   
    </div>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <h2>გაიარეთ ავტორიზაცია</h2>
        <div class="form-row">
            <label for="">email:</label>
            <input type="email" formControlName="userEmail" id="email" required [ngStyle]="signInForm.controls['userEmail'].invalid && signInForm.controls['userEmail'].touched ? {'border': '1px solid red'} : {}">
            <span [ngStyle]="signInForm.controls['userEmail'].invalid && signInForm.controls['userEmail'].touched ? {} : {'display' : 'none'}"> <i class="fa-solid fa-circle-info"></i> შეიყვანეთ ელ. ფოსტა შესაბამისი ფორმატით</span>
        </div>
        <div class="form-row">
            <label for="">პაროლი:</label>
            <input type="password" formControlName="userPassword" id="password" required [ngStyle]="signInForm.controls['userPassword'].invalid && signInForm.controls['userPassword'].touched ? {'border' : '1px solid red'} : {}">
            <span [class.visible]="!signInSuccessful" class="sing-in-not-successful">ელ. ფოსტა ან პაროლი არასწორია</span>
        </div>
        <button type="submit" id="submit">ავტორიზაცია</button>
    </form>
        <button class="go-to-registration" (click)="goToRegistration()">რეგისტრაცია</button>
</div>
<div class="blur" (click)="authTrigger()"></div>