@font-face {
    font-family: NotoGeo;
    src: url(../../assets/fonts/Noto_Serif_Georgian/static/NotoSerifGeorgian-Regular.ttf);
}

$PrimaryBgColor: #2f64ad;
$GeoLang: NotoGeo;
$PrimaryBorderColor: #cccccc;

%block{
    display: block;
}