<div class="main-sign-in-container">
    <div class="close-button" (click)="authTrigger()">
        <i class="fa-solid fa-xmark" ></i>   
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h2>გაიარეთ რეგისტრაცია</h2>
        <div class="form-row">
            <div class="form-column">
                <label for="">სახელი:</label>
                <input type="text" formControlName="userName" id="userName" [ngStyle]="signUpForm.controls['userName'].invalid && signUpForm.controls['userName'].touched ? {'border': '1px solid red'} : {}">
            </div>
            <div class="form-column">
                <label for="">გვარი:</label>
                <input type="text" formControlName="userLastName" id="userLastName" [ngStyle]="signUpForm.controls['userLastName'].invalid && signUpForm.controls['userLastName'].touched ? {'border': '1px solid red'} : {}">
            </div>
        </div>
        <div class="form-column">
            <label for="">ასაკი:</label>
            <input type="number" formControlName="userAge" id="userAge" [ngStyle]="signUpForm.controls['userAge'].invalid && signUpForm.controls['userAge'].touched ? {'border': '1px solid red'} : {}">
        </div>
        <div class="form-column">
            <label for="">email:</label>
            <input type="email" formControlName="userEmail" id="userEmail" [ngStyle]="signUpForm.controls['userEmail'].invalid && signUpForm.controls['userEmail'].touched ? {'border': '1px solid red'} : {}">
            <span [ngStyle]="signUpForm.controls['userEmail'].invalid && signUpForm.controls['userEmail'].touched ? {} : {'display' : 'none'}"> <i class="fa-solid fa-circle-info"></i> შეიყვანეთ ელ. ფოსტა შესაბამისი ფორმატით</span>
        </div>
        <div class="form-column">
            <label for="">გაიმეორეთ email:</label>
            <input type="email" formControlName="userVerifyEmail" id="userSecondEmail" [ngStyle]="signUpForm.controls['userVerifyEmail'].invalid && signUpForm.controls['userVerifyEmail'].touched ? {'border': '1px solid red'} : {}">
            <span [ngStyle]="signUpForm.controls['userVerifyEmail'].invalid && signUpForm.controls['userVerifyEmail'].touched ? {} : {'display' : 'none'}"> <i class="fa-solid fa-circle-info"></i> გაიმეორეთ ელ. ფოსტა</span>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="">პაროლი:</label>
                <input type="password" formControlName="userPassword" id="userPassword" [ngStyle]="signUpForm.controls['userPassword'].invalid && signUpForm.controls['userPassword'].touched ? {'border': '1px solid red'} : {}">
            </div>
            <div class="form-column">
                <label for="">გაიმეორეთ პაროლი:</label>
                <input type="password" formControlName="userSecondPassword" id="userSecondPassword" [ngStyle]="signUpForm.controls['userSecondPassword'].invalid && signUpForm.controls['userSecondPassword'].touched ? {'border': '1px solid red'} : {}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="">მისამართი:</label>
                <input type="text" formControlName="userAddress" id="userAddress" [ngStyle]="signUpForm.controls['userAddress'].invalid && signUpForm.controls['userAddress'].touched ? {'border': '1px solid red'} : {}">
            </div>
            <div class="form-column">
                <label for="">ტელ. ნომერი:</label>
                <input type="tel" formControlName="userTel" id="userTel" [ngStyle]="signUpForm.controls['userTel'].invalid && signUpForm.controls['userTel'].touched ? {'border': '1px solid red'} : {}">
            </div>
        </div>
        <div class="form-row" style="gap: 50px;">
            <div class="form-column">
                <label for="">ZipCode:</label>
                <input type="number" formControlName="userZipCode" id="userZipCode" [ngStyle]="signUpForm.controls['userZipCode'].invalid && signUpForm.controls['userZipCode'].touched ? {'border': '1px solid red'} : {}">
            </div>
            <div class="form-column" style="align-items: start;">
                <label>სქესი:</label>
                    <label for="userMale">
                    <input type="radio" formControlName="userGender" id="userMale" value="Male" [ngStyle]="signUpForm.controls['userGender'].invalid && signUpForm.controls['userGender'].touched ? {'border': '1px solid red'} : {}">
                    მამრობითი
                    </label>
                    <label for="userFemale">
                    <input type="radio" formControlName="userGender" id="userFemale" value="Female">
                    მდედრობითი
                    </label>
            </div>
        </div>
        <input type="submit" value="რეგისტრაცია" id="submit">
    </form>
        <button class="go-to-registration" (click)="goToSignIn()">ავტორიზაცია</button>
</div>
<div class="blur" (click)="authTrigger()"></div>